html {
     box-sizing: border-box; 
     font-size: 62.5% 
} 
*, *:before, *:after { 
     box-sizing: inherit; 
}

/* GLOBALES */
:root{
    --fuentePrincipal: 'Staatliches', cursive;
    --azulObscuro: #121a21;
    --gris: #c7d5e0;
    --azulClaro: #66c0f4;
    --azulMedio: #2a475e;
}

body{
    background-color: var(--azulObscuro);
}
.container{
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3{
    text-align: center;
}

h1{
    font-size: 5rem;
}

header{
    margin-top: 3rem;
    text-align: center;
}
header h2{
    font-size: 2.5rem;
}

p, h1, h2, h3, a{
    color: var(--gris);
}
p{
    font-size: 2rem;
}
nav a:hover{
    color: var(--azulClaro);
    font-size: 2.5rem;
}
.titulo{
    font-size: 3.2rem;
}


/* NAVEGACION */

.navegacion{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--azulMedio);
    margin: 0 auto;
    max-width: 45rem;
    border-radius: 2rem;

}
.navegacion a{
    align-items: center;
    font-size: 2rem;
    text-decoration: none;
    transition: ease .2s;
}

.navegacion a:hover{
    color: var(--azulClaro);
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .navegacion{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 3rem;
        padding: 3.5rem;
        max-width: 100%
    }
    .navegacion a:nth-child(1){
        margin-top: 0;
    }   
}


/* MAIN  */
.main{
    margin-top: 1rem;
    padding: 2rem;
}
main h2{
    font-size: 3rem;
}
.main__texto1{
    margin-top: 5rem;
    text-align: center;
}
.main__texto3{
    margin-bottom: 2rem
}


/* JUEGOS  */

.juegos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.juegos__nota{
    font-size: 3rem;
}
.juegos__texto{
    margin-bottom: 14rem;
    text-align: center;
}

.juegos__juego--container{
    padding: 1rem;
}
.juegos__juego{
    margin-bottom: 8rem;
}
.juegos__juego a{
    text-decoration: none;
}

.juegos__juego--titulo{
    font-size: 3rem;
}
.juegos__juego--img{
        border-radius: 2rem;
        margin: 0 auto;
        max-width: 100%; 
}
.juegos__juego--enlace{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: underline !important;
}

@media (min-width: 768px) {
    .juegos__juego--container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 7rem;
    }
               
    .juegos__juego.full-width {
        grid-column: 1 / 3;
        max-width: 50%;
        margin: 0 auto;
    }

}



/* Juegos */
.review__juego__container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    display: block;
}

.review__juego--img{
    border-radius: 2rem;
    max-width: 95%;
}
.review__texto{
    font-size: 1.7rem;
    padding: 2rem;
}

@media (min-width: 768px) {
    .review__juego__container{
        display: grid;
        grid-template-rows: 1fr min-content;
        gap: 1.75rem;
        
    }

    .review__juego--img{
        max-width: 95%;
        
    }
    .review__juego--img:nth-child(1){
        grid-column: 1 / 4;
    }

    .review__texto{
        font-size: 2rem;
    }

    .review__texto:nth-child(2){
        grid-column: 1/4;
        grid-row: 2/ 3;
    }

    .review__juego--img:nth-child(3){
        /* margin-top: 4rem; */
        grid-row: 3/ 4;
        grid-column: 1/ 3;
    }
    .review__texto:nth-child(4){
        align-content: center;

    }

    .review__juego--img:nth-child(5){
        grid-column: 2/ 4;
    }
    .review__texto:nth-child(6){
        grid-row: 3/ 4;
        align-content: center;
        align-items: center;

    }

    .review__texto:nth-child(7){
        grid-column: 1 / 4;
    }

    .review__juego--img:nth-child(8){
        grid-column: 1 / 4;
    }
    .review__texto:nth-child(9){
        grid-column: 1/ 4;
    }

}